<h1 class="nav" style="background-color:rgb(43, 189, 226); color:rgb(12, 12, 11)">
  🇼‌🇪‌🇱‌🇨‌🇴‌🇲‌🇪‌ 🇹‌🇴‌ 🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
  </li>
</ul>
<div class="container">
<img src="https://image.shutterstock.com/z/stock-vector-medical-hospital-health-snake-symbol-193313621.jpg" style="width:100%">
  <div style="position:absolute;top:65%;left:20%;transform:translate(-50%,-50%);">
    <h3>ミ★ 𝘞𝘦 𝘈𝘳𝘦 𝘏𝘦𝘳𝘦 𝘛𝘰 <br />  𝘊𝘶𝘳𝘦 𝘠𝘰𝘶𝘳 𝘚𝘪𝘤𝘬𝘯𝘦𝘴𝘴 ★彡 </h3>
  </div>
<div style="position: absolute; top: 80%; left: 20%; transform: translate(-50%, -50%);"><div class="btn-group">
  <a routerLink="/booking-appointment" class="btn btn-primary active" aria-current="page">Book an Appointment</a>
</div></div>
 </div>
